<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<display-name>Archetype Created Web Application</display-name>

<!-- 
<servlet>
    <servlet-name>com.inovision.web.rest.RESTApplication</servlet-name>
    
    <multipart-config>
        <location>/temp</location>
        <max-file-size>35000000</max-file-size>
        <max-request-size>218018841</max-request-size>
        <file-size-threshold>30000</file-size-threshold>
    </multipart-config>
</servlet>
<servlet-mapping>
    <servlet-name>com.inovision.web.rest.RESTApplication</servlet-name>
    <url-pattern>/rest/*</url-pattern>
</servlet-mapping>

 -->
 
</web-app>
